.navbar-custom {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar-custom .navbar-brand {
  padding-left: 15px !important;
  margin-right: 30px !important;
}

.navbar-custom .navbar-nav {
  margin-left: auto !important;
}

.navbar-custom .nav-item:last-child a {
  padding-right: 20px !important;
}

/* 모바일 반응형 대응 */
@media (max-width: 1200px) {
  .navbar-custom .navbar-brand {
    padding-left: 15px !important;
  }
  
  .navbar-custom .navbar-toggler {
    margin-right: 15px !important;
  }
}
